
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SeaCloud - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Assets CSS Files -->
    <link href="/assets/aos/aos.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>


<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <a href="/index.html">
                <img src="/img/logo-navbar.png" alt="SeaCloud" class="img-fluid">
            </a>
        </div>

        {% include 'navbar.html.twig' %}    <!-- .navbar -->

    </div>
</header>
<body>
{% block body %}
{% endblock %}
</body>


{% include 'footer.html.twig' %}    <!-- footer -->

<!-- Vendor JS Files -->
<script src="assets/aos/aos.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="js/main.js"></script>