<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link active" href="index.html">Home</a></li>
        <li><a class="nav-link" href="about.html">About</a></li>
        <li><a class="nav-link" href="services.html">Services</a></li>
        <li><a class="nav-link" href="contact.html">Contact</a></li>
        <li><a class="sign-up" href="sign-up.html">Sign up</a></li>
        <li><a class="sign-in" href="sign-in.html">Sign in</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>